In [1]:
import pandas as pd

In [2]:
data = [[1,2,3], [4,5,6], [7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [3]:
list('321')

['3', '2', '1']

In [10]:
df = pd.DataFrame(data, list('321'), list('ZYX'))
df

   Z  Y  X
3  1  2  3
2  4  5  6
1  7  8  9

In [11]:
df.sort_index(inplace = True)
df #organiza pelo índice das linhas

   Z  Y  X
1  7  8  9
2  4  5  6
3  1  2  3

In [12]:
df.sort_index(inplace = True, axis = 1)
df #organiza pelo índice das linhas e colunas

   X  Y  Z
1  9  8  7
2  6  5  4
3  3  2  1

In [13]:
df.sort_values(by = 'X', inplace = True)
df

   X  Y  Z
3  3  2  1
2  6  5  4
1  9  8  7

In [15]:
df.sort_values(by = '3', axis = 1, inplace = True)
df

   Z  Y  X
3  1  2  3
2  4  5  6
1  7  8  9

In [33]:
data2 = [['Ary', 'M', '21'], ['Cátia', 'F', '19'], ['Carlos', 'M', '50'], ['Beto', 'M', '29'],['Bruna', 'F', '31'],['Ana', 'F', '42']]
data2

[['Ary', 'M', '21'],
 ['Cátia', 'F', '19'],
 ['Carlos', 'M', '50'],
 ['Beto', 'M', '29'],
 ['Bruna', 'F', '31'],
 ['Ana', 'F', '42']]

In [34]:
list('012345')

['0', '1', '2', '3', '4', '5']

In [35]:
df2 = pd.DataFrame(data2, list('012345'), list('nsi'))
df2

        n  s   i
0     Ary  M  21
1   Cátia  F  19
2  Carlos  M  50
3    Beto  M  29
4   Bruna  F  31
5     Ana  F  42

In [37]:
df3 = df2.sort_values(by = ['s', 'n'])
df3

        n  s   i
5     Ana  F  42
4   Bruna  F  31
1   Cátia  F  19
0     Ary  M  21
3    Beto  M  29
2  Carlos  M  50